/* [1] The container */
.img-hover-zoom {
  overflow: hidden; /* [1.2] Hide the overflowing of child elements */
}

/* [2] Transition property for smooth transformation of images */
.img-hover-zoom img {
  transition: transform .5s ease;
}

/* [3] Finally, transforming the image when container gets hovered */
.img-hover-zoom:hover img {
  transform: scale(1.15);
}

/*trial above*/

.contact{
  /*max-height: 10%;*/
  max-width: 100%;
}

/*.side-info2:hover{
    box-shadow: 0 0 20px gray;
}
*/

.contactLink:hover{
  color: gray;
  font-weight: bolder;
  text-decoration: none;
}

.skillsDiv{
  border-radius: 1.5rem;
  /*margin: 4px;*/
  margin: 5px;
  }

.skillsDiv:hover {
  /*background-color: #009999;*/
  /*color: white;*/
    background: #d1e0e0;
    box-shadow: 0 0 20px #009999;
}

.skillsDiv:hover .skillName {
  /*color: whitesmoke !important;*/
}

.skillsDiv:hover .badge {
  /*background-color: whitesmoke;*/
  /*color: gray;*/
}

.cd{
  color: #009999;
  font-size: 45px;
}

.subheading{
  font-weight: bolder;
  /*font-size: large;*/
  /*font-weight: lighter;*/
  font-size: 22px;
}

.subheading3{
  /*font-weight: bold;*/
  font-weight: .5rem;
  /*font-weight: lighter;*/
  font-size: 22px;
}

.sizeSmall{
  font-size: large !important;
}

.headerProj{
  margin-left: 1px;
}

.smaller{
  font-size: 15px;
}

.imageDivProj{
  background-color: whitesmoke;
}

/*.projectDivMain{
  background-color: whitesmoke;
  margin-left: 0px;
  margin-right:0px;
  padding-left: 0px;
  padding-right:0px;
}*/

.trialImage{
  /*max-width: 30%;*/
  /*max-height: 30%;*/
  max-width: 80%;
  max-height: 100%;
}

.cardProject{
  /*border: #009999 2px solid;*/
  /*border-radius: 1rem*/
}

.skillsContainer{
  /*background-color: #d1e0e0;*/
  /*padding: 5rem 0;*/
}

.icon{
  font-size: 50px;
}

.iconSpecial{
  font-size: 50px;
  /*font-weight: bolder;*/
}

.skillName{
  font-weight: bold;
  color: #009999 !important;
  font-size: 20px;
  margin-top: 30px;
  padding-bottom: 10px;
  /*font-size: xx-large;*/
}

.jumbotron{
  /*background: url("../images/bgcarousel_light_1.png") no-repeat;*/
  background: url("../images/jumbo_bg1.png") no-repeat;
  /*height: calc(100vh - 3rem);*/
  height: 42rem;
  /*height: 42rem;*/

}

/*.carouselTitle, .carouselPar{
  background-color: #009999;
  color: white !important;
}

.carouselTitle{
  font-size: 50px;
}
*/

.banner{
  width: 100%;
}

body{
  /*background: url("../images/bgcarouseltransparent.png");*/
}

.headerButton{
  background-color:  #009999;
  color: white;
}

.headerButton:hover{
  color: white;
}

.information{
  padding-left: 50px;
  padding-right: 50px;
}

.boxing{
  /*background-color: whitesmoke;*/
}

.trialpic{
  /*max-width: 70%;*/
  max-width: 45%;
  border-radius: 50%;
  margin-bottom: 10px;
  margin-top: 10px;
}

.side-info{
  /*background-color: whitesmoke;*/
  background-color:  #009999;
}

.side-info2{
  background-color: whitesmoke;
  border-radius: 1rem;
  margin: 5px;
}

.imageSide{
  margin-top: 5px;
  margin-bottom: 5px;
}

.imageProject{
   border-radius: 1rem;
   height:100%;
   /*margin-bottom: 30px;*/
   /*margin-top: 30px;*/
}

nav a:hover{
  font-weight: bolder;
  /*box-shadow: 0 0 5px white;*/
  /*text-shadow: 0 0 5px white;*/
/*  border: solid white 1px;
  border-radius: 15%;
  background-color: white;*/
}

nav a:active{
  font-weight: bolder;
}

a:hover{
  font-weight: bolder;
}

header{
  background: #009999;
  /*background: white;*/
}

.end-text{
  padding-left: 21px;
  padding-right: 21px !important;
  /*from 40px*/
}

/*.animate__animated .animate__pulse{
  --animate-duration: 2s;
}
*/

.my-brand{
  font-weight: lighter;
  color: white !important;
  font-variant: small-caps;
  letter-spacing: 2px;
  padding-left: 0px;
}

.my-initials{
  font-weight: bolder !important;
}

.nav-texts{
  color:white !important;
  /*color:#009999 !important;*/
  font-weight: lighter;
}
  
/*.my-brand{
  font-family: 'Pacifico', cursive;
  font-weight: bolder;
  color: white !important;
}
*/

.carousel-img{
  max-width: 100%;
  height: auto;
/*  background-position: right;
  position: right;*/
}

.about-me-section{
  padding-left: 42px;
}

.pic-side{
    vertical-align: middle !important;
    text-align: center;
    margin: auto;
}

.your-pic{
    vertical-align: middle !important;
    text-align: center;
    margin-top: 115px;
}

.christine-david{
  padding-top: 50px;
  color: #009999 !important;
}

.why-contact{
  font-size: 13.5px !important;
  padding-top: 12px;
  margin: 0px;
}

.about-p{
  /*padding-top: 4px;*/
  font-size: 14px !important;
  padding-right: 5px;
}

.about-p strong{
  color: #476b6b !important;
}

.skills{
  font-weight: bold;
  color: #476b6b !important;
  margin: 0px;
  padding: 0px;
}

.skills-2{
  font-weight: bold;
  /*color: #009999 !important;*/
  color: white !important;
  margin: 0px;
  padding-right: 8px;
}

.skills-3{
  font-weight: bold;
  color: #009999 !important;
  /*color: white !important;*/
  margin: 0px;
  padding-right: 8px;
}

.capstone-header{
  color: #009999 !important;
}

.see-project{
  margin-top: 10px;
  background: #009999;
  color: white;
}

.help-you{
  color: #009999 !important;
}

.contact-info{
  font-weight: lighter;
  padding-top: 20px;
  padding-bottom: 20px;
}

.contact-details{
  margin: 0px;
  padding: 0px;
}

footer{
  /*background-color: #009999;*/
  color: #009999 !important;
}

/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
/*  padding-top: 2rem;
*/  
  padding-bottom: 2rem;
  color: #5a5a5a;
}


/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  margin-bottom: 6rem;
 /* margin-top: 2rem;*/
  padding: auto;
}

/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  bottom: 3rem;
  padding: auto !important;
  margin: auto !important;
  z-index: 10;
  font-size: 0.1vw !important;
  vertical-align: middle !important;
  justify-content: center !important;
  top: 50%;
  transform: translateY(-50%);
  bottom: initial;
}

.carousel-caption p{
  color: gray !important;
}

.carousel-caption h1{
  color:  #009999 !important;
}

.carousel-caption h3{
  color:  #009999 !important;
}

/* Declare heights because of positioning of img element */
.carousel-item {
  /*height: 40rem;   */
  /*height: 42rem;   */
  /*height: 20rem;   */
  /*NOTE, before was 20rem!   */
  /*height: 30rem;   */
  height: 19rem;   
  /*height: 28rem;   */
  /*height previously 20rem*/
  background-color: #777;
  padding: auto;

  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;

}
.carousel-item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  /*heigh previously 32 rem, may edit this so that medyo gitna siya?*/
  height: 43rem;
  object-fit: cover !important;
}

/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}
.marketing h2 {
  font-weight: 400;
}
.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}

/* Featurettes
------------------------- */

.featurette-divider {
  margin: 5rem 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -.05rem;
}

/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 40em) {
  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}